customers/identity
customers/node_modules
customers/log.txt
customers/ms-chaincode.tar.gz
customers/application/keystore
customers/application/wallet
customers/application/tpmkey.txt
customers/application/vendor/
customers/chaincode/vendor/


regulators/identity
regulators/node_modules
regulators/log.txt
regulators/ms-chaincode.tar.gz
regulators/application/keystore
regulators/application/wallet
regulators/application/tpmkey.txt
regulators/application/vendor/
regulators/chaincode/vendor/

external-chaincode/vendor